# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Gcoverage files
*.gcov
*.gcda
*.gcno

.DS_Store
# The build folder
/Slicer/build
/Viewer/build

# Output folder
/Slicer/output

# The LOG output
LOG
